/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

body {
  background-color: rgb(213, 216, 242);
}

.indent {
  margin: 0% 8% 0% 8%;
  text-align: center;
}

.center-content {
  text-align: center;  
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-border {
  margin: 20px;
  padding: 20px;
  border-style: dotted;
  border-color: lightgray;
}

.center {
  text-align: center;
}

.background {
  background: rgb(213, 216, 242);
  text-align: center;
}

.center-page {
  margin-left: 210px;
  margin-top: 150px;
  width: 50%;
  padding: 100px;
}

.errors {
  color: red;
}

.footer {
  border-top: 1px solid gray;
  color: #707070;
  text-align: left;
  padding-bottom: 2px;
  padding-left: 3px;
  display: flex;
  justify-content: space-between;
}



.font-face-gm {
  font-family: "SquareKids-LZ5y";
  color: purple;
  font-size: 60px;
}

.ui-center-floated-button {
  float: center;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: purple;
  background-color: rgb(250, 250, 137);
  border-bottom: 1px solid #fff;
  max-width: 100%;
  align-content: center;

}

#headline {
  text-align: center;
  margin-top: 0%;

}

#headline-2 {
  text-align: center;
  /* margin-top: -20%; */
}